.navbar {
   border-top: 10px solid #778492;
  .profile-content {
    margin-right: 30rem;
    .name {
      color: #49515a;
      font-size: 38px;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    .desc {
      color: #778492;
      font-family: "Lato", arial, sans-serif;
      font-weight: 400;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .social a {
      background: #b0b7bf;
      width: 36px;
      height: 36px;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      color: #fff;
      text-align: center;
    }

    .social a:hover {
      background: #778492;
    }

    .social a .svg-inline--fa {
      font-size: 20px;
      margin-top: 8px;
    }
  }
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

a.btn-cta-primary,
.btn-cta-primary {
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  float: right!important;
}

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

